      <div class="post" matchCard="{{cardName}}">
        <div class="post-contents">
          <div class="post-image-container">
            <img class = "turn-card" src="{{url}}" alt="{{cardName}}">
          </div>
        </div>
      </div>