<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Matching Game Final</title>


    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab:100" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" crossorigin="anonymous">

    <link rel="stylesheet" href="style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.6/handlebars.runtime.js" charset="utf-8" defer></script>
    <script src="/gameCardTemplate.js" charset="utf-8" defer></script>
    <script src="/winnerTemplate.js" charset="utf-8" defer></script>
    <script src="index.js" charset="utf-8" defer></script>

  </head>
  <body>

    <header>

      <div class="header-image-container">
        <img src="fruits_basket.png" alt="Benny logo">
      </div>

      <h1 class="site-title"><a href="#">CS290 Matching Game</a></h1>


    </header>
    {{{body}}}
  </body>
</html>
