<main class="error-container">
    <h2>404</h2>
    <h3>Woops! We couldn't find that page.</h3>
    <h3> We wish we were kitten :(</h3>
    <img src="http://placekitten.com/300/300" alt="Sad kitty">
</main>