body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: #f67811;
}

a:hover {
  text-decoration: underline;
}

header {
  background-color: #000;
  display: flex;
  align-items: center;
  position: relative;
}

header a {
  color: #fff;
}

.site-title {
  font-family: "Roboto Slab", serif;
  font-size: 80px;
  font-weight: 100;
  margin: 0 0 0 20px;
  padding-top: 30px;
}
.site-subtitle {
  font-family: "Roboto Slab", serif;
  font-size: 30px;
  font-weight: 100;
  margin: 0 0 0 20px;
  padding-top: 30px;
  color: #efefef;
}

.site-title a:hover {
  text-decoration: none;
}

.content {
  display: flex;
}

.filter-container {
  display: inline-block;
  min-width: 200px;
  max-width: 200px;
  margin: 10px 10px auto 10px;
  padding: 20px;
  border-radius: 3px;
  background-color: #efefef;
}

.filter-container h2 {
  margin: 0;
}

.filter-input-container {
  width: 100%;
  margin: 20px 0;
  display: flex;
  align-items: center;
}

.filter-fieldset {
  flex: 1 100%;
  border: 1px solid #ababab;
}

.post {
  display: inline-block;
  vertical-align: top;
  height: 165px;
  width: 300px;
  margin: 0px;
  padding: 10px;
  border: 1px solid #dadada;
  border-radius: 3px;
}


/* new */
.post:hover{
  border: 3px solid red;
}

.post-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
	margin-left: auto;
    margin-right: auto;
	margin-bottom: auto;
	margin-top: auto;
}

.post-image-container img {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-height: 165px;
  max-width: auto;
  height: 100%;
  width: 100%;
}
.you-win {
	position: fixed;
	top: 30%;
	left:30%;
}

.post-info-container {
  width: 100%;
  margin-top: 20px;
}

.post-price {
  display: inline-block;
  font-size: 80%;
  padding: 3px;
  margin: 3px 5px;
  border: 1px solid #ababab;
  border-radius: 3px;
  background: #efefef;
}
.error-container{
  text-align: center;
  margin: 10px;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  margin: 3px 3px;
}

#game-start-button {
  position: fixed;
  left: 60px;
  bottom: 30px;
  height: 75px;
  width: 75px;
  border: none;
  font-size: 16px;
  background-color: #f67811;
  color: #fff;
  cursor: pointer;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
  text-decoration: #000;
}

.hidden {
  display: none;
}
/*I edited*/
.turn-card{
  content:url("card_back_red.png");
}
.hidden-card{
  display: none;
}


